KERNEL=="mmcblk0p1", ACTION=="add", RUN+="&INSTALL_PREFIX/bin/rct_mount_sd"
KERNEL=="mmcblk0p1", ACTION=="remove", RUN+="&INSTALL_PREFIX/bin/rct_umount_sd"
